
    body{
        font-family: 'Open Sans', sans-serif;
        background-color: #8171c5;
    }
     /* navigation data */
       .main-nav{
        background-color: #4629c6;
    }
    .main-nav a{
        font-weight: 600;
        text-transform: uppercase;
        /* padding-right:50px; */
        transition: color 0.5s 0s ease-in-out;
    }
    .main-nav a:hover{
        color: #000000;
        background-color: #8171c5;
    }
    .nav-data{
        
        color: white;

    }
    .nav-data :hover{
        color: #8b8b8b;
    }
    .nav {
        --bs-nav-link-hover-color: #000000;
    }
    .d-flex{
     height: 30px;
     margin-top: 5PX;
    
    }
    .nav-image{
        height: 30px;
        position: absolute;
        right:35px;
        top:5px;
    }
    .btn{
        border:0px;
        
    }
    /* footer - part  */

    .main-footer
    {
        margin-top: 80px;
        height: 360px;
        text-transform: uppercase;
        background-color: #4629c6;
        font-weight: 600;
        color: white;
    }
    
    .hr1
    {
        width: 1000px;
    }
    
    .pic1 img
    {
        height: 90px;
    }
    
    .footer-icon
    {
        border: solid 1.5px white;
        border-radius: 50%;
        padding: 6px;
        height: 40px;
        transition: all 0.5s linear 0s;
    }
    
    .footer-icon-svg
    {
        width: 0%;
        padding: 0px 25px;
    }

    .footer-icon:hover
    {
        height: 50px;
        background-color: #8171c5;
    }


    /* dasdfdfsdfsdfsdfsdfds */
    .f-size{
        height:480px;
        width:320px;
        border:solid 1px black;
        border-radius: 10px;
        margin:0px auto;
        margin-top: 100px;
        position: relative;
        background-color: rgb(240, 240, 240);
        z-index: 2;
    }

    header p{
        float:left;
        font-size: 20px;
        font-weight: 400;
        margin-left: 10px;
        margin-top:20px;

    }
    header p span{
        color:rgb(78, 78, 78);
        font-weight: 600;
    }
    header img{
        float:right;
        height:40px;
        width:40px;
        margin-top: 20px;
        margin-right: 10px;
        
    }
    .clear{
        clear:both;
    }
    .main-box{
        display: flex;
    }
    #spends-box{
        height:265px;
        width:228px;
        background-color: white;
        border-radius: 15px;
        border:rgb(204, 204, 204);
        margin-top: 70px;
        margin-right:10px;
        margin-left: 10px;
        padding: 0px 10px;
        box-shadow: 1px 1px  10px rgb(167, 167, 167);
        position: relative;
        z-index: 1;
    }
    #spends{
        margin:0px auto;
        /* border:solid 1px black; */
        width:200px;
        text-transform: uppercase;
    }
    #spends p{
        padding-top: 10px;
        height:10px;
    }
    #spends span{
        font-weight: 800;
        font-size: 25px;
    } 
      #car-icon img{
        height:20px;
        width:25px;
        margin-top: 15px;
        float: left;
        padding-left: 10px;
    }
      #car-icon p{
        font-size: 15px;
        font-weight: 400;
        width:150px;
        float: right;
        padding-right: 5px;
        text-transform: capitalize;
    }
      #emoji-icon img{
        height:30px;
        width:35px;
        margin-top: 15px;
        float: left;
        padding-left: 2px;
    }
      #emoji-icon p{
        font-size: 15px;
        font-weight: 400;
        width:150px;
        float: right;
        padding-right: 5px;
        text-transform: capitalize;
    }
    .fp-btn{
        border:solid 0px black;
        border-radius: 50%;
        background-color:#624dc2;
        margin:0px auto;
        margin-top: 20px;
        width:35px;
        height:35px;
    }
    .fp-btn img{
        height:25px;
        width:25px;
        margin-top: 5px;
        margin-left: 4px;
    }
    
/* :::::Card-style::::: */
.login-box{
    border:solid 0px black;
    margin-top: 100px;
    
}

.login-text{
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 600;
}
.text-box{
    
    width:250px;
    margin-left: 30px;
    margin-bottom: 10px;
    border:solid 0.5px rgb(123, 122, 122);
    border-radius: 8px;
}
.submit-box{
    width:60px;
    border:solid 0px black;
    margin: 0px auto;
}
.btn-box{
    background-color: #624dc2;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    border:none;
    border-radius: 10px;
    margin-top: 10px;
}
.btn-box:hover{
    background-color: #4629c6;
}

/* ::::: card-js::::: */

.setting-icon{
    height: 25px;
    width:25px;
    margin-top: 23px;
}
.card-main-box{
    border:solid 0.5px rgb(133, 133, 133);
    height:300px;
    border-radius: 20px;
    background-color: #ebebeb;
    width:85%;
    margin: 0px auto;
    margin-top: 20px;
    box-shadow: 1px 1px  10px rgb(167, 167, 167);
}
.sub-box{
    border:solid 0px red;
    width:100%;
    height: 150px;
    border-radius: 20px;
    background-color: #624dc2;
    color:white;
    
    animation: name 1s 2s ese
}
.sub-box p{
    margin:0px 0 0 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    padding-top: 10px;
}
.sub-box h4{
    margin:5px 0 0 20px;
    font-size: 25px;
    float: left;
}
.design-card{
    float: right;
    height:100px;
    width:80px;
    margin-top: -20px;
    margin-right: 10px;
}
.sub-box spam{
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
    /* float: left; */
}
.visa-logo{
    height: 35px;
    width:90px;
    float: right;
    margin: 3px 10px 0 0 ;
}

/* entery page */
.g-size{
    height:200px;
    width:90%;
    border:solid 1px black;
    border-radius: 10px;
    margin:0px auto;
    margin-top: 100px;
    position: relative;
    background-color: rgb(240, 240, 240);
    z-index: 2;
    box-shadow: 1px 1px  10px rgba(0, 0, 0, 0.599)
}
.card-main-box-2{
    border:solid 0.5px rgb(133, 133, 133);
    height:500px;
    border-radius: 20px;
    background-color: #ebebeb;
    width:85%;
    margin: 0px auto;
    margin-top: 20px;
    box-shadow: 1px 1px  10px rgb(167, 167, 167);
}

.sub-box-2
{
    background: linear-gradient(#624dc2, #ebebeb);
}
.sub-box-2 table,th,td{
    border:solid 1px rgb(119, 119, 119);
}
.sub-box-2 table a{
    color:black;
}
.sub-box-2 table{
    color:rgb(75, 75, 75);
    text-transform: uppercase;
    font-weight:600;
    font-size: 15px;
}

/* about-us page */
.about-us-bg-color{
    background-color: #ae9bff;
}
.about-us{
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 30px 0px;
}
.au-left-box{
    width:425px;
    border:solid 0px white;
    float: left;
    line-height: 30px;
    clear: right;
    text-align: justify;
    padding-left: 25px;

}
.au-left-box p{
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
}
.au-right-box {
    width: 415px;
    border: solid 0px black;
    float:left;
    text-align: justify;
    margin-left: 30px;

}
.au-right-box p{
    border:solid  0px red;
    height:200px;
    line-height: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.au-right-box p span{
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 10px;
    font-weight: 600;
}
.slice-card{
    border:solid 0px white;
    float: left;
    width:300px;
    height:500px;
    margin-left: 55px;
}
.slice-card img{
    height: 100%;
    width:100%;
    /* border: solid 1px #000000; */
    border-radius: 64px;
    box-shadow: 0 0 15px rgb(163, 106, 255);
}
/* creat-card ----page */

.cc-main-box{
    border:solid 0px black;
    box-shadow: 3px 3px 15px rgb(0, 26, 52);
    height:40%;
    width:80%;
}
.img-box{
    /* border:solid 3px green; */
    /* width:27%; */
    margin:0px;
    padding: 0px;
    background: url("image/CC-IMG.jpg") no-repeat;
    background-size: cover;

}
.img-box img{
    width: 100%;
    height: 100%;
}
.cc-right-box{
    border:solid 0px red;
    margin-left: auto;
    
}
.cc-right-box h1{
    text-transform: uppercase;
    font-weight: 600;
    color: #4CA4FF;
    font-size: 2rem;
    padding-top:30px;
    margin: 0px;
}
.cc-sub-box p{
    border:solid 0px red;
    width: fit-content;
    padding: 0px;
    margin: 0px;
    text-transform: capitalize;
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 30px;
}
.cc-sub-box{
    /* width:60%; */
    background-color: #B7D1EC;
    /* border: solid 0px blue; */
    /* margin-left: auto; */
}
.cc-input-box{
    /* background-color: #000000; */
    border-radius: 10px;
    border: 0px;
    width:90%;
    margin-top: 10px;
    height: 30px;
    border: none;

}
#cc-radio-f-box{
    margin-left:0px;    
   
}
.cc-radio-box{
    margin-left: 10%;
    margin-top: 20px;
    accent-color:  black;
}
#cc-button{
 /* border: solid 1px black; */
 width:80%;
 height:35px;
 margin-top: 20px;
 text-transform: uppercase;
 font-weight: 600;
 border: 0px; 
 background-color: #4CA4FF; 
 transition: all 1s ; 
 margin-bottom: 10px;
}
#cc-button:hover{
    background-color: #1f8bff;
    letter-spacing: 1px;
}
#cccheck{
    color:black;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
}

@media screen and (max-width: 570px) {
    .img-box{

        height: 200px;
        background: url("image/cc-img-2.png") no-repeat;
        background-size: cover;
    
    }
  }


  

  /* --------first page---------- */
  @font-face {
    font-family: 'rubik';
    src: url("image/Rubik.ttf");
    local:url("image/Rubik.ttf");
  }

.img-1-box{
    background: url("image/main-page-img-1.svg") no-repeat;
    background-size: cover;
    border:solid 0px black;
    
}
.page-one-text-box,.page-two-text-box{
    border:solid 0px red;
    width:40%;
    margin-left: 10%;
    padding-top: 100px;

}
.img-1-box p{
    /* border:solid 1px red; */
    width:fit-content;
    font-size: 5vw;
    color:#00064c;
    font-family:rubik;
}
.img-1-box span{
    font-weight: 800;
    font-size: 1.2vw;
}
.btn-download-main-page{
    margin-top: 30px;
    background-color: white;
    border:solid 1.5px rgb(118, 32, 255);
    margin-bottom: 40px;
    border-radius: 40px;
    height: 60px;
    width:150px;
    font-size: 1.2rem;
    font-weight: 600;
    color:#4629c6;
    text-transform: capitalize;
    transition:background-color 500ms 00ms linear;
}
.btn-download-main-page:hover{
    color:white;
    background-color: #4629c6;

}

.img-2-box{
    background: url("image/upi-desktop.svg") no-repeat;
    background-size: cover;
    border:solid 0px black;
    height:600px;
}
.img-2-box p{
    border:solid 0px red;
    width:fit-content;
    font-size: 4vw;
    color:#00064c;
    font-family:rubik;
}
.img-2-box span{
    font-weight: 800;
    font-size: 1.2vw;
    margin-bottom: 300px;
    width:fit-content;
    border:solid 0px black;
}
.img-3-box{
    background: url("image/borrow-desktop.svg") no-repeat;
    background-size: cover;
    border:solid 0px black;
    height:600px;
}
.img-3-box p{
    border:solid 0px red;
    width:fit-content;
    font-size: 4vw;
    color:#00064c;
    font-family:rubik;
}
.img-3-box span{
    font-weight: 800;
    font-size: 1.2vw;
    margin-bottom: 300px;
    width:fit-content;
    border:solid 0px black;
}
.img-4-box{
    background: url("image/mini-desktop.svg") no-repeat;
    background-size: cover;
    border:solid 0px black;
    height:600px;
}
.img-4-box p{
    border:solid 0px red;
    width:fit-content;
    font-size: 4vw;
    color:#00064c;
    font-family:rubik;
}
.img-4-box span{
    font-weight: 800;
    font-size: 1.2vw;
    margin-bottom: 300px;
    width:fit-content;
    border:solid 0px black;
}