<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- CSS only -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <link href="/static/css/style.css" rel="stylesheet" type="text/css">
     <!-- JavaScript Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
     crossorigin="anonymous"></script>

</head>
<body class="about-us-bg-color">
    {% include 'title.html' %}
    <h1 class="about-us">about-us</h1>
        <div class="au-left-box">
            <P>built for the young</P>
            the young people today will be the ones who will make all the difference tomorrow. thus growing with the new generation is what we dream about and all that we want. we believe that personalization combined with an extreme focus on superior customer service is the key to build long-lasting relations with young people.
        </div>
        <div class="au-right-box">
            <p><span>millennials - we get it!</span>
                slice is a fintech startup focused on India’s youngsters. we aim to build a smart, simple, and transparent financial platform to redesign the financial experience for the millennials.
            </p>
            <p><span>meet the team</span>
                slice is a millennial product built by the millennials. we are a team of passionate young people, who listen and appreciate your opinion and deserve your trust as a customer.</p>
        </div>
        <div class="slice-card">
            <img src="../static/images/card.png">
        </div>
        <div class="clearfix"></div>
        {% include 'Card-Footer.html' %}
</body>
</html>