{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    {% include 'title.html' %}
    <div class=g-size>
        <header>
            <p>Add <span>Entry</span></p>
            <a><img src={% static 'images/settings-b.svg' %} alt="" class="setting-icon"></a>
        </header>
        <div class="clear"></div>
        <div class="card-main-box-2">
            <div class="sub-box sub-box-2">
                <p>Your Entry HERE:</p>               
                <div class="clear"></div>
                <img src={% static 'images/visa-logo.png' %} alt="" class="visa-logo">
                <div class="clear"></div>
                    <table align="center" rules="all" cellspacing="10" cellpadding="10">
                        <tr>
                            <td>id</td>
                            <td>email</td>
                            <td>password</td>
                            <td>Add/Delete</td>
                        </tr>
                        {% for x in item %}
                        <tr>
                            <td>{{x.id}}</td>
                            <td>{{x.email}}</td>
                            <td>{{x.password}}</td>
                            <td><a href="/editdata/{{x.id}}" onclick="return confirm('Are You Sure You Want To Edit This item')">Edit</a>|<a href="/deletdata/{{x.id}}" onclick="return confirm('Are You Sure You Want To Delet This Item')">Delet</a></td>
                        </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>
    </div>
</body>

</html>