{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% include 'title.html' %}
    <div class="page-1-one-box">
        <div class="img-1-box">
            <div class="page-one-text-box">
                <p>The <br>Simplest<br> Way To Pay</br>-</p>
                <span>Trusted by 12 million+ Indians</span>
                </br><button class="btn btn-outline-primary btn-download-main-page">download</button>
            </div>
        </div>
        <div class="img-2-box">
            <div class="page-two-text-box">
                <button class="btn btn-outline-primary btn-download-main-page">slice upi</button>
                <p>The most seamless UPI experience</p>
                <span>Free yourself from the noise of your typical payments app. Hold and scan or enter amount to make payments.</span>
            </div>
        </div>
        <div class="img-3-box">
            <div class="page-two-text-box">
                <button class="btn btn-outline-primary btn-download-main-page">slice Borrow</button>
                <p>The most flexible way to borrow</p>
                <span>Get upto ₹5 lakh in just a few clicks! You can repay across 12 months, or repay early to save interest.</span>
            </div>
        </div>
        <div class="img-4-box">
            <div class="page-two-text-box">
                <button class="btn btn-outline-primary btn-download-main-page">slice mini</button>
                <p>Your account for everyday payments</p>
                <span>Add and withdraw money with ease. Enjoy upto 2% rewards on spends and get instant cashback on your favorite brands.</span>
            </div>
        </div>
    </div>
</body>
</html>