{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">

    <script>
        function checkpassword(data)
        {
            
            let password=document.getElementById('passwordbox2').value;
           document.getElementById('ccpassword2').innerHTML=password;
           // document.getElementById('cccheck').innerHTML="password strength";
            let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')
            if(password.match(strongPassword))
            {

                document.getElementById('cccheck2').innerHTML="</br>Strong password";
                document.getElementById('cccheck2').style.color="green";
            }
            else{
                document.getElementById('cccheck2').innerHTML="</br>Weak Password";
                document.getElementById('cccheck2').style.color="red";
            }   
        }
    </script>
    </head>
    
<body>
    {% include 'title.html' %}
    <div class=f-size>
        <header>
            <p>LOGIN <span>here</span></p>
            <img src={% static 'images/face.png' %} alt="">
        </header>
        <div class="clear"></div>
        <form class="login-box" action="" method="post" onsubmit="return checkdata(this)">
            {% csrf_token %}
            <label class="login-text">Mail-Id/Username</label>
            <input type="email" class="text-box" id="email" name="email">
           <span id="text-here"></span>
            <lable class="login-text" id="ccpassword2">Password</lable>
            <input type="password" class="text-box" id="passwordbox2" name="password" oninput="checkpassword(data)"><P id="cccheck2"></P>
            <span id="text-here"></span>
            <div class="submit-box"><input type="submit" class="btn btn-primary btn-box"></div>
        </form>

    </div>
</body>

</html>
